body {
    background-image: url("https://image.freepik.com/vetores-gratis/design-de-fundo-moderno-azul-3d_53876-88247.jpg");
    background-size: auto 100vh;
    font-family: Arial;
  }
  
  .menu {
    background-color: #98FB98;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtittle,
  .site-tittle {
    text-align: center;
    color: #191970;
  }
  
  .site-subtittle {
    font-style: italic;
  }